html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    font-family: monospace;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#text-container {
    padding: 20px 30px;
    text-align: left;
    z-index: 2;
    position: relative;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
}

#text-container h1 {
    margin: 0 0 10px 0;
    font-weight: bold;
}

#text-container a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}

#text-container a:hover {
    transform: translateX(2px);
}
